/*
    This stylesheet creates a left sidebar menu that remains fixed as you scroll down the page. 
    
* To adjust the location of the menu to the right side, change 'left' to 'right' in '#mainNav'
* To create a menu that does not remain fixed on scroll remove 'position', 'top', and 'left' from '#mainNav'
* To display the menu horizontally, remove the styles mentioned in the point above and add 'display: inline;' to '#mainNav li'

*/

/* menu styling */
#mainNav {
    list-style: none;
    position: fixed;
    top: 150px;
    left: 30px;
    height: 1000px;
}   

#mainNav li {
    text-decoration: none;
    margin: 5px 0;
    max-width: 160px;
}

#mainNav li a {
    color: white;
    font-size: 22px;
}

#mainNav li a:visited {
    color: white ;
}